@import "tailwindcss";

.dev{
  text-shadow: 2px 2px 4px red;
}
.logoName{
  text-shadow: 2px 3px 3px green;
}
.name{
  box-shadow: 2px 2px 10px white;
}
.open{
  box-shadow: 5px 5px 10px black;
}
.myName{
  text-shadow: 2px 2px 3px green;
}
.p{
  text-shadow: 2px 2px 4px black;
}
.f , .b{
  text-shadow: none;
  color: red;
}
label{
  margin-top: 15px;
  font-size: 1.2rem;
  text-shadow: 2px 2px 3px white;
  color: blue;
}
input{
  /* background: white; */
  width: 180px;
  color: black;
  padding-left: 10px;
  height: 28px;
  border-radius: 5px;
}
input:focus{
  outline: none;
}
form{
  box-shadow: 0 0 12px black;
}
.input{
  background: white;
  padding-bottom: 3px;
  padding-top: 3px;
  border-radius: 7px;
  padding-right: 5px;
  padding-left: 5px;
}
.input>span{
  color: blue;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
